* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.col-1 {
    width: 8.33%;
}

.col-8 {
    width: 66.64%;
}

.col-3 {
    width: 24.99%;
}